<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="crud.Properties.Settings.MahasiswaConnectionString"
            connectionString="Data Source=LAPTOP-OG8P1VHL\HIJJAJ;Initial Catalog=Mahasiswa;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>